#Appunite
keystore.properties
app/keystore.properties
keystore.properties
release.keystore

#Android generated
bin
gen

#Eclipse
.project
.classpath
.settings
.checkstyle

#IntelliJ IDEA
*.idea
*.iml
*.ipr
*.iws
classes
gen-external-apklibs

#Maven
target
release.properties
pom.xml.*

#Ant
build.xml
ant.properties
local.properties
proguard.cfg
proguard-project.txt

#Gradle
.gradle
build

#Other
/local.properties
/.idea/workspace.xml
/.idea/*
.idea/*
.idea*
.apk
.DS_Store
tmp
*.swp
*.tmp
*.bak
*.swp
*.launch

#Crashlytics
.crashlytics_data/
com_crashlytics_export_strings.xml
crashlytics-build.properties

#Python
*.pyc